.categories{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}

.activeButton{
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 20px;
}

.allPets{
    display: flex;
    flex-wrap: wrap;
    gap: 3vw;
    margin: 20px 60px;
}
